* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: slateblue;
  }
  
  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
  a {
    text-decoration: none;
    color: rebeccapurple;
  }
  
  a:hover {
    color: purple;
    text-decoration: underline;
  }
  
  .main-header .nav li{
    list-style: none;
    padding: .5em;
  }
  
  .main-header .nav{
    padding: 0;

  }

  .main-header{
      background-color: #ffffe4;
      border-bottom: slategrey 1px solid;
      text-align: center;
      margin-bottom: 1em;     
  }

  h2, 
  h3{
      text-align: center;
  }

  p{
    text-align: center;
  }

  .treehouse {
    color: #5fcf80;
  }

  li{
      list-style: none;
  }

  .learnt{
      width: 33%;
  }

#skills li{
    list-style: none;
    float: left;
    width:33%;
}

#contact{
    text-align: center;
    padding-top: 3em;
}

.close .me{
    float: left;
}

.close .top{
   float: right;
   display:inline-block;
   margin-top: 1em;
}

.close .top{
    font-size: 1em;
    margin-left: 1em;
}

.close .link {
    display: none;
}

  .close{
      border-top: 1px slategrey solid;
  }
 
/* ==================
media query 768px
=============================== */
   
@media(min-width:768px){

    #main-container{
        width:90%;
        max-width: 900px;
        margin: 0 auto;
    }

    .main-header{
        margin-bottom: 3em;
    }

    .me{
        text-align: center;
        padding-top: 1em;
    }

    .main-header .nav li{
        display: inline-block;
        padding-left: 1em;
        margin: 0;
    }

    a{
        padding: 1em;
    }

    .profile{
        float: right;
    }

    .about p{
        text-align: left;
    }

    h2{
        padding-top: 6em;
        text-align: center;
    }

    .project{
        float:left;
        width: 50%;
        padding: .25em;
        min-height: 2em;
    }

    .skills{
        padding-top: 0;
    }

    #contact h2{
        padding-top: 1.5em;
    }

    .close .link{
        display:inline-block;
        float: right;  
    }

    .close .link{
        font-size: 1em;
        margin-left: 1em;
        margin-top: 1.25em;
    }

    .close .top {
        display: none;
    }

    .clear-fix::after{
        content: "";
        display: table;
        clear:both;
    }
    .me{
        padding: 10px;
    }
}

/* ==================
media query 1024p
=============================== */

@media(min-width:1024px){

    #main-container{
        width:80%;
        margin: 0 auto;
    }

    .main-header{
        width:100%;
        margin:0 auto;
        padding-bottom: 8em;
    }

    .me{
        float: left;
        padding-left: 1.5em;
    }

    .main-header .nav{
        float: right;
        padding-top: 10px;
        font-size: 1.5em;
    }

    #portfolio{
        margin-top: 2em;
    }

    .project{
        float: left;
        width: calc(31.1% - 20px);
        min-height: 2em;
    }

    .skills{
        padding-top: 0;
    }

    #contact h2{
        padding-top: 3em;
    }

    .clear-fix::after{
        content: "";
        display: table;
        clear:both;
    }    
}